In [1]:
print('hello')

hello

In [5]:
import pandas as pd 
import numpy as np

In [15]:
df = pd.DataFrame({
    'ma_60' : np.random.randn(1000) , 
    'ma_90' : np.random.randn(1000) , 
    'return_ratio' : np.random.random(size= 1000)
})
def ma_strategy(df):
    df['signal'] = (df['ma_60'] >= df['ma_90']).astype(int)
    
    df['']

      ma_60     ma_90  return_ratio
0  0.557032  0.124646      0.322573
1 -1.113895 -1.253361      0.381276
2 -0.708787  0.093659      0.698281
3  1.740347  1.543296      0.051250
4 -0.039222  1.015331      0.038621

In [16]:
df.shape

(1000, 3)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ma_60         1000 non-null   float64
 1   ma_90         1000 non-null   float64
 2   return_ratio  1000 non-null   float64
dtypes: float64(3)
memory usage: 23.6 KB

In [18]:
df.shift(1)

        ma_60     ma_90  return_ratio
0         NaN       NaN           NaN
1    0.557032  0.124646      0.322573
2   -1.113895 -1.253361      0.381276
3   -0.708787  0.093659      0.698281
4    1.740347  1.543296      0.051250
..        ...       ...           ...
995  1.293354 -1.143834      0.607656
996 -1.527927  0.189952      0.775479
997 -0.469623 -1.112416      0.821405
998 -1.174765  0.693217      0.279255
999 -0.336086 -0.312025      0.509001

[1000 rows x 3 columns]

In [23]:
def ma_strategy(df):
    df = df.copy()

    # 1. Signal: MA crossover
    df['signal'] = (df['ma_60'] >= df['ma_90']).astype(int)

    # 2. Position: shift signal (trade ở ngày sau)
    df['position'] = df['signal'].shift(1).fillna(0)

    # 3. Strategy return
    df['strategy_return'] = df['position'] * df['return_ratio']

    # 4. Equity curve
    df['equity'] = (1 + df['strategy_return']).cumprod()

    return df
df = ma_strategy(df)

In [24]:
df.head()

,ma_60,ma_90,return_ratio,signal,position,strategy_return,equity
0,0.557032,0.124646,0.322573,1,0.0,0.000000,1.000000
1,-1.113895,-1.253361,0.381276,1,1.0,0.381276,1.381276
2,-0.708787,0.093659,0.698281,0,1.0,0.698281,2.345796
3,1.740347,1.543296,0.051250,1,0.0,0.000000,2.345796
4,-0.039222,1.015331,0.038621,0,1.0,0.038621,2.436392

# Test data

In [1]:
import sys
import os

PROJECT_ROOT = os.path.abspath(os.path.join(os.getcwd(), '..'))
sys.path.append(PROJECT_ROOT)
from src.data_loader.download import DataLoader

In [2]:

symbol = 'BTC/USDT'
timeframe = '1h'
loader = DataLoader(exchange_id= 'binance')

df = loader.load_data(symbol = symbol , timeframe= timeframe)

2025-12-27 14:10:17,937 - INFO - Đang đọc dữ liệu từ cache: D:\Projects\Assignment\Systems\Trading System\data\raw\BTCUSDT_1h.parquet

In [3]:
df.head()

                         open      high       low     close      volume
timestamp
2023-01-01 00:00:00  16541.77  16545.70  16508.39  16529.67  4364.83570
2023-01-01 01:00:00  16529.59  16556.80  16525.78  16551.47  3590.06669
2023-01-01 02:00:00  16551.47  16559.77  16538.14  16548.19  3318.84038
2023-01-01 03:00:00  16548.19  16548.19  16518.21  16533.04  4242.08050
2023-01-01 04:00:00  16533.04  16535.97  16511.92  16521.85  4285.00909

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 26190 entries, 2023-01-01 00:00:00 to 2025-12-27 06:00:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    26190 non-null  float64
 1   high    26190 non-null  float64
 2   low     26190 non-null  float64
 3   close   26190 non-null  float64
 4   volume  26190 non-null  float64
dtypes: float64(5)
memory usage: 1.2 MB

In [27]:
import pandas as pd 


df_btc = pd.read_parquet(r'D:\Projects\Assignment\Systems\Trading System\data\raw\BTCUSDT_1h.parquet')

In [28]:
df_btc.head()

                         open      high       low     close      volume
timestamp
2023-01-01 00:00:00  16541.77  16545.70  16508.39  16529.67  4364.83570
2023-01-01 01:00:00  16529.59  16556.80  16525.78  16551.47  3590.06669
2023-01-01 02:00:00  16551.47  16559.77  16538.14  16548.19  3318.84038
2023-01-01 03:00:00  16548.19  16548.19  16518.21  16533.04  4242.08050
2023-01-01 04:00:00  16533.04  16535.97  16511.92  16521.85  4285.00909

In [29]:
df_btc.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 26190 entries, 2023-01-01 00:00:00 to 2025-12-27 06:00:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    26190 non-null  float64
 1   high    26190 non-null  float64
 2   low     26190 non-null  float64
 3   close   26190 non-null  float64
 4   volume  26190 non-null  float64
dtypes: float64(5)
memory usage: 1.2 MB

In [30]:
df_btc['year'] = df_btc.index.year
df_btc['month'] = df_btc.index.month
df_btc['day'] = df_btc.index.day
df_btc['hour'] = df_btc.index.hour
df_btc['minute'] = df_btc.index.minute

In [31]:
df_btc .info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 26190 entries, 2023-01-01 00:00:00 to 2025-12-27 06:00:00
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    26190 non-null  float64
 1   high    26190 non-null  float64
 2   low     26190 non-null  float64
 3   close   26190 non-null  float64
 4   volume  26190 non-null  float64
 5   year    26190 non-null  int32
 6   month   26190 non-null  int32
 7   day     26190 non-null  int32
 8   hour    26190 non-null  int32
 9   minute  26190 non-null  int32
dtypes: float64(5), int32(5)
memory usage: 1.7 MB

In [32]:
tmp_df = df_btc.copy()

tmp_df = tmp_df[tmp_df['year'] == 2025]

In [33]:
tmp_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8647 entries, 2025-01-01 00:00:00 to 2025-12-27 06:00:00
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    8647 non-null   float64
 1   high    8647 non-null   float64
 2   low     8647 non-null   float64
 3   close   8647 non-null   float64
 4   volume  8647 non-null   float64
 5   year    8647 non-null   int32
 6   month   8647 non-null   int32
 7   day     8647 non-null   int32
 8   hour    8647 non-null   int32
 9   minute  8647 non-null   int32
dtypes: float64(5), int32(5)
memory usage: 574.2 KB

In [17]:
tmp_df.head()

,open,high,low,close,volume,year,month,day,hour,minute
timestamp,,,,,,,,,,
2025-01-01 00:00:00,93576.00,94509.42,93489.03,94401.14,755.99010,2025,1,1,0,0
2025-01-01 01:00:00,94401.13,94408.72,93578.77,93607.74,586.53456,2025,1,1,1,0
2025-01-01 02:00:00,93607.74,94105.12,93594.56,94098.91,276.78045,2025,1,1,2,0
2025-01-01 03:00:00,94098.90,94098.91,93728.22,93838.04,220.99302,2025,1,1,3,0
2025-01-01 04:00:00,93838.04,93838.04,93500.00,93553.91,279.46909,2025,1,1,4,0

In [39]:
tmp_df['timestamp'] = pd.to_datetime(tmp_df.index)
tmp_df.head()

,open,high,low,close,volume,year,month,day,hour,minute,timestamp
timestamp,,,,,,,,,,,
2025-01-01 00:00:00,93576.00,94509.42,93489.03,94401.14,755.99010,2025,1,1,0,0,2025-01-01 00:00:00
2025-01-01 01:00:00,94401.13,94408.72,93578.77,93607.74,586.53456,2025,1,1,1,0,2025-01-01 01:00:00
2025-01-01 02:00:00,93607.74,94105.12,93594.56,94098.91,276.78045,2025,1,1,2,0,2025-01-01 02:00:00
2025-01-01 03:00:00,94098.90,94098.91,93728.22,93838.04,220.99302,2025,1,1,3,0,2025-01-01 03:00:00
2025-01-01 04:00:00,93838.04,93838.04,93500.00,93553.91,279.46909,2025,1,1,4,0,2025-01-01 04:00:00

In [40]:
tmp_df.reset_index(drop=True, inplace=True)
tmp_df.head()

,open,high,low,close,volume,year,month,day,hour,minute,timestamp
0,93576.00,94509.42,93489.03,94401.14,755.99010,2025,1,1,0,0,2025-01-01 00:00:00
1,94401.13,94408.72,93578.77,93607.74,586.53456,2025,1,1,1,0,2025-01-01 01:00:00
2,93607.74,94105.12,93594.56,94098.91,276.78045,2025,1,1,2,0,2025-01-01 02:00:00
3,94098.90,94098.91,93728.22,93838.04,220.99302,2025,1,1,3,0,2025-01-01 03:00:00
4,93838.04,93838.04,93500.00,93553.91,279.46909,2025,1,1,4,0,2025-01-01 04:00:00

In [96]:
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os 
import pandas as pd

load_dotenv()

db_url = os.getenv('TRADING_DB_URL')

engine = create_engine(db_url)

with engine.connect() as conn:
    query = "SELECT * FROM market_data"
    df = pd.read_sql(query, conn)
    print(df.head())

Empty DataFrame
Columns: [symbol, timestamp, open, high, low, close, volume, timeframe, year, month, day, hour, minute]
Index: []

In [59]:
df['year'] = df.timestamp.dt.year
df['month'] = df.timestamp.dt.month
df['day'] = df.timestamp.dt.day
df['hour'] = df.timestamp.dt.hour
df['minute'] = df.timestamp.dt.minute

In [60]:
df.head()

,symbol,timestamp,open,high,low,close,volume,timeframe,year,month,day,hour,minute
0,BTC/USDT,2025-12-07 09:00:00,89316.61,89395.65,89050.01,89104.23,229.27162,1h,2025,12,7,9,0
1,BTC/USDT,2025-12-07 10:00:00,89104.23,89388.00,89103.97,89240.18,200.63018,1h,2025,12,7,10,0
2,BTC/USDT,2025-12-07 11:00:00,89240.18,89277.59,89141.87,89149.18,183.64055,1h,2025,12,7,11,0
3,BTC/USDT,2025-12-07 12:00:00,89149.18,89585.12,89111.40,89475.90,246.12366,1h,2025,12,7,12,0
4,BTC/USDT,2025-12-07 13:00:00,89475.90,89519.10,88652.00,89053.74,519.89031,1h,2025,12,7,13,0

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   symbol     500 non-null    object
 1   timestamp  500 non-null    datetime64[ns]
 2   open       500 non-null    float64
 3   high       500 non-null    float64
 4   low        500 non-null    float64
 5   close      500 non-null    float64
 6   volume     500 non-null    float64
 7   timeframe  500 non-null    object
 8   year       500 non-null    int32
 9   month      500 non-null    int32
 10  day        500 non-null    int32
 11  hour       500 non-null    int32
 12  minute     500 non-null    int32
dtypes: datetime64[ns](1), float64(5), int32(5), object(2)
memory usage: 41.1+ KB

In [ ]:
tmp_df['timeframe'] = '1h'

In [45]:
tmp_df['symbol'] = 'BTC/USDT'

In [46]:
tmp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8647 entries, 0 to 8646
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   open       8647 non-null   float64
 1   high       8647 non-null   float64
 2   low        8647 non-null   float64
 3   close      8647 non-null   float64
 4   volume     8647 non-null   float64
 5   year       8647 non-null   int32
 6   month      8647 non-null   int32
 7   day        8647 non-null   int32
 8   hour       8647 non-null   int32
 9   minute     8647 non-null   int32
 10  timestamp  8647 non-null   datetime64[ns]
 11  timeframe  8647 non-null   object
 12  symbol     8647 non-null   object
dtypes: datetime64[ns](1), float64(5), int32(5), object(2)
memory usage: 709.5+ KB

In [47]:
columns = df.columns
tmp_df = tmp_df[columns]

In [48]:
tmp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8647 entries, 0 to 8646
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   symbol     8647 non-null   object
 1   timestamp  8647 non-null   datetime64[ns]
 2   open       8647 non-null   float64
 3   high       8647 non-null   float64
 4   low        8647 non-null   float64
 5   close      8647 non-null   float64
 6   volume     8647 non-null   float64
 7   timeframe  8647 non-null   object
 8   year       8647 non-null   int32
 9   month      8647 non-null   int32
 10  day        8647 non-null   int32
 11  hour       8647 non-null   int32
 12  minute     8647 non-null   int32
dtypes: datetime64[ns](1), float64(5), int32(5), object(2)
memory usage: 709.5+ KB

In [62]:
tmp_df.head()

,symbol,timestamp,open,high,low,close,volume,timeframe,year,month,day,hour,minute
0,BTC/USDT,2025-01-01 00:00:00,93576.00,94509.42,93489.03,94401.14,755.99010,1h,2025,1,1,0,0
1,BTC/USDT,2025-01-01 01:00:00,94401.13,94408.72,93578.77,93607.74,586.53456,1h,2025,1,1,1,0
2,BTC/USDT,2025-01-01 02:00:00,93607.74,94105.12,93594.56,94098.91,276.78045,1h,2025,1,1,2,0
3,BTC/USDT,2025-01-01 03:00:00,94098.90,94098.91,93728.22,93838.04,220.99302,1h,2025,1,1,3,0
4,BTC/USDT,2025-01-01 04:00:00,93838.04,93838.04,93500.00,93553.91,279.46909,1h,2025,1,1,4,0

In [63]:
tmp_df.tail()

,symbol,timestamp,open,high,low,close,volume,timeframe,year,month,day,hour,minute
8165,BTC/USDT,2025-12-07 05:00:00,89535.94,89564.55,89427.00,89515.01,130.12741,1h,2025,12,7,5,0
8166,BTC/USDT,2025-12-07 06:00:00,89515.01,89710.00,89488.28,89709.99,107.62861,1h,2025,12,7,6,0
8167,BTC/USDT,2025-12-07 07:00:00,89710.00,89733.33,89200.00,89379.72,220.78651,1h,2025,12,7,7,0
8168,BTC/USDT,2025-12-07 08:00:00,89379.73,89538.70,89190.97,89316.61,173.05781,1h,2025,12,7,8,0
8169,BTC/USDT,2025-12-07 09:00:00,89316.61,89395.65,89050.01,89104.23,229.27162,1h,2025,12,7,9,0

In [64]:
final_df = pd.concat([tmp_df , df])
final_df.head()

,symbol,timestamp,open,high,low,close,volume,timeframe,year,month,day,hour,minute
0,BTC/USDT,2025-01-01 00:00:00,93576.00,94509.42,93489.03,94401.14,755.99010,1h,2025,1,1,0,0
1,BTC/USDT,2025-01-01 01:00:00,94401.13,94408.72,93578.77,93607.74,586.53456,1h,2025,1,1,1,0
2,BTC/USDT,2025-01-01 02:00:00,93607.74,94105.12,93594.56,94098.91,276.78045,1h,2025,1,1,2,0
3,BTC/USDT,2025-01-01 03:00:00,94098.90,94098.91,93728.22,93838.04,220.99302,1h,2025,1,1,3,0
4,BTC/USDT,2025-01-01 04:00:00,93838.04,93838.04,93500.00,93553.91,279.46909,1h,2025,1,1,4,0

In [67]:
final_df.shape

(8670, 13)

In [65]:
final_df.tail()

,symbol,timestamp,open,high,low,close,volume,timeframe,year,month,day,hour,minute
495,BTC/USDT,2025-12-28 00:00:00,87877.00,87961.37,87705.97,87854.96,205.17782,1h,2025,12,28,0,0
496,BTC/USDT,2025-12-28 01:00:00,87854.97,87945.39,87739.06,87785.96,153.21984,1h,2025,12,28,1,0
497,BTC/USDT,2025-12-28 02:00:00,87785.97,87872.67,87755.80,87810.78,104.97363,1h,2025,12,28,2,0
498,BTC/USDT,2025-12-28 03:00:00,87810.79,87845.45,87725.47,87740.01,208.71524,1h,2025,12,28,3,0
499,BTC/USDT,2025-12-28 04:00:00,87740.00,87837.99,87693.00,87792.68,86.59949,1h,2025,12,28,4,0

In [68]:
final_df = final_df.reset_index(drop=True)
final_df = final_df.drop_duplicates(subset=['timestamp'])

In [69]:
final_df.head()

,symbol,timestamp,open,high,low,close,volume,timeframe,year,month,day,hour,minute
0,BTC/USDT,2025-01-01 00:00:00,93576.00,94509.42,93489.03,94401.14,755.99010,1h,2025,1,1,0,0
1,BTC/USDT,2025-01-01 01:00:00,94401.13,94408.72,93578.77,93607.74,586.53456,1h,2025,1,1,1,0
2,BTC/USDT,2025-01-01 02:00:00,93607.74,94105.12,93594.56,94098.91,276.78045,1h,2025,1,1,2,0
3,BTC/USDT,2025-01-01 03:00:00,94098.90,94098.91,93728.22,93838.04,220.99302,1h,2025,1,1,3,0
4,BTC/USDT,2025-01-01 04:00:00,93838.04,93838.04,93500.00,93553.91,279.46909,1h,2025,1,1,4,0

In [70]:
final_df.tail()

,symbol,timestamp,open,high,low,close,volume,timeframe,year,month,day,hour,minute
8665,BTC/USDT,2025-12-28 00:00:00,87877.00,87961.37,87705.97,87854.96,205.17782,1h,2025,12,28,0,0
8666,BTC/USDT,2025-12-28 01:00:00,87854.97,87945.39,87739.06,87785.96,153.21984,1h,2025,12,28,1,0
8667,BTC/USDT,2025-12-28 02:00:00,87785.97,87872.67,87755.80,87810.78,104.97363,1h,2025,12,28,2,0
8668,BTC/USDT,2025-12-28 03:00:00,87810.79,87845.45,87725.47,87740.01,208.71524,1h,2025,12,28,3,0
8669,BTC/USDT,2025-12-28 04:00:00,87740.00,87837.99,87693.00,87792.68,86.59949,1h,2025,12,28,4,0

In [103]:
from sqlalchemy.orm import declarative_base , sessionmaker
from sqlalchemy import Column, Integer, String, Float, DateTime

base = declarative_base()


class MarketData(base):
    __tablename__ = "market_data"
    symbol = Column(String , primary_key=True)
    timestamp = Column(DateTime , primary_key=True)
    open = Column(Float)
    high = Column(Float)
    low = Column(Float)
    close = Column(Float)
    volume = Column(Float)
    timeframe = Column(String , primary_key=True)
    year = Column(Integer)
    month = Column(Integer)
    day = Column(Integer)
    hour = Column(Integer)
    minute = Column(Integer)

In [104]:
data = []

for _ , r in final_df.iterrows():
    data.append(MarketData(
        symbol=r['symbol'],
        timestamp=r['timestamp'],
        open=r['open'],
        high=r['high'],
        low=r['low'],
        close=r['close'],
        volume=r['volume'],
        timeframe=r['timeframe'],
        year = r['timestamp'].year,
        month = r['timestamp'].month,
        day = r['timestamp'].day,
        hour = r['timestamp'].hour,
        minute = r['timestamp'].minute,
    ))

In [105]:
len(data)

8669

In [106]:
data[0].__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1cf0408dd30>,
 'symbol': 'BTC/USDT',
 'timestamp': Timestamp('2025-01-01 00:00:00'),
 'open': 93576.0,
 'high': 94509.42,
 'low': 93489.03,
 'close': 94401.14,
 'volume': 755.9901,
 'timeframe': '1h',
 'year': 2025,
 'month': 1,
 'day': 1,
 'hour': 0,
 'minute': 0}

In [107]:
SessionLocal = sessionmaker(bind=engine)

session = SessionLocal()

In [108]:
session.add_all(data)
session.commit()