In [1]:
print('hello')

hello

In [5]:
import pandas as pd 
import numpy as np

In [15]:
df = pd.DataFrame({
    'ma_60' : np.random.randn(1000) , 
    'ma_90' : np.random.randn(1000) , 
    'return_ratio' : np.random.random(size= 1000)
})
def ma_strategy(df):
    df['signal'] = (df['ma_60'] >= df['ma_90']).astype(int)
    
    df['']

      ma_60     ma_90  return_ratio
0  0.557032  0.124646      0.322573
1 -1.113895 -1.253361      0.381276
2 -0.708787  0.093659      0.698281
3  1.740347  1.543296      0.051250
4 -0.039222  1.015331      0.038621

In [16]:
df.shape

(1000, 3)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ma_60         1000 non-null   float64
 1   ma_90         1000 non-null   float64
 2   return_ratio  1000 non-null   float64
dtypes: float64(3)
memory usage: 23.6 KB

In [18]:
df.shift(1)

        ma_60     ma_90  return_ratio
0         NaN       NaN           NaN
1    0.557032  0.124646      0.322573
2   -1.113895 -1.253361      0.381276
3   -0.708787  0.093659      0.698281
4    1.740347  1.543296      0.051250
..        ...       ...           ...
995  1.293354 -1.143834      0.607656
996 -1.527927  0.189952      0.775479
997 -0.469623 -1.112416      0.821405
998 -1.174765  0.693217      0.279255
999 -0.336086 -0.312025      0.509001

[1000 rows x 3 columns]

In [23]:
def ma_strategy(df):
    df = df.copy()

    # 1. Signal: MA crossover
    df['signal'] = (df['ma_60'] >= df['ma_90']).astype(int)

    # 2. Position: shift signal (trade ở ngày sau)
    df['position'] = df['signal'].shift(1).fillna(0)

    # 3. Strategy return
    df['strategy_return'] = df['position'] * df['return_ratio']

    # 4. Equity curve
    df['equity'] = (1 + df['strategy_return']).cumprod()

    return df
df = ma_strategy(df)

In [24]:
df.head()

,ma_60,ma_90,return_ratio,signal,position,strategy_return,equity
0,0.557032,0.124646,0.322573,1,0.0,0.000000,1.000000
1,-1.113895,-1.253361,0.381276,1,1.0,0.381276,1.381276
2,-0.708787,0.093659,0.698281,0,1.0,0.698281,2.345796
3,1.740347,1.543296,0.051250,1,0.0,0.000000,2.345796
4,-0.039222,1.015331,0.038621,0,1.0,0.038621,2.436392

# Test data

In [1]:
import sys
import os

PROJECT_ROOT = os.path.abspath(os.path.join(os.getcwd(), '..'))
sys.path.append(PROJECT_ROOT)
from src.data_loader.download import DataLoader

In [2]:

symbol = 'BTC/USDT'
timeframe = '1h'
loader = DataLoader(exchange_id= 'binance')

df = loader.load_data(symbol = symbol , timeframe= timeframe)

2025-12-27 14:10:17,937 - INFO - Đang đọc dữ liệu từ cache: D:\Projects\Assignment\Systems\Trading System\data\raw\BTCUSDT_1h.parquet

In [3]:
df.head()

                         open      high       low     close      volume
timestamp
2023-01-01 00:00:00  16541.77  16545.70  16508.39  16529.67  4364.83570
2023-01-01 01:00:00  16529.59  16556.80  16525.78  16551.47  3590.06669
2023-01-01 02:00:00  16551.47  16559.77  16538.14  16548.19  3318.84038
2023-01-01 03:00:00  16548.19  16548.19  16518.21  16533.04  4242.08050
2023-01-01 04:00:00  16533.04  16535.97  16511.92  16521.85  4285.00909

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 26190 entries, 2023-01-01 00:00:00 to 2025-12-27 06:00:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    26190 non-null  float64
 1   high    26190 non-null  float64
 2   low     26190 non-null  float64
 3   close   26190 non-null  float64
 4   volume  26190 non-null  float64
dtypes: float64(5)
memory usage: 1.2 MB